.header {
    grid-area: h;
    background-color: #2f67c0e0
  }
.logo {
  margin: 5px 65px;
  height: 50px;
}
.loginAuth {
  float: right;
  margin-top: 12px;
}
.loginAuth a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-right: 15px;
}
.loginAuth a:hover {
  color: lightgrey;
}
.loginAuth h4 {
  margin-right: 15px;
  color: white;
}
.loginAuth span {
  margin-left: 10px;
  cursor: pointer;
  color: lightgrey;
}
.loginAuth span:hover {
  color:  grey;

}