.chat_img {
    height: 25px;
}
.dialog {
    font-style: bold;
    font-size: 20px;
    vertical-align: middle;
    margin: 20px;
    
}
.dialog p {
    margin-left: 50px;
}
.dialog a {
    color: rgb(134, 134, 134);
    text-decoration: none;
    cursor: pointer;
        
}
.dialog a.active {
    color: grey;
}
.dialog a:hover {
    color: lightgrey;
}